/* ---------------------------------- reset --------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

/* --------------------------------- colors --------------------------------- */
:root {
  --white: #ffffff;
  --black: #000000;
  --black-low: #00000085;
  --gray-light: #626367;
  --gray: #282c31;
  --gray-dark: linear-gradient(-90deg, rgb(58, 60, 65) -20%, rgba(26, 29, 38, 1) 100%);
  --gray-darker: #0c0f18;
  --my-green: #a2ff00;
  --my-green-dark: #3fd300;
}



/* ---------------------------------- utils --------------------------------- */
body {
  background: var(--gray-dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
}

a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-weight: 300;
}

p,
label {
  color: var(--white);
}

.btn {
  max-width: 12rem;
  background-color: var(--my-green);
  border: none;
  border-radius: 15px;
  padding: 0.8rem;
  box-shadow: inset 0px 0px 5px var(--black);
  font-size: 1rem;
  cursor: pointer;

}

.btn:hover {
  box-shadow: 0px 0px 10px var(--gray-light);
}

.btn:active {
  background-color: var(--my-green-dark);
  box-shadow: inset 0px 0px 10px var(--my-green);
}

.header {
  font-family: "rancho", sans-serif;
  color: var(--my-green);
  text-align: center;
  font-size: 5rem;
}

/* --------------------------------- navbar --------------------------------- */
.navbar {
  background-color: var(--black-low);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: baseline;
  backdrop-filter: blur(10px);
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navbar ul li {
  list-style: none;
  padding: 0.8rem;
  margin: 0.2rem;
  transition: 0.2s all;
}

.navbar ul li:hover {
  background-color: var(--gray-light);
  border-radius: 10px;
}

.active {
  color: #3fd300;

}

/* ------------------------------ social media ------------------------------ */
.social-media {
  display: flex;
  flex-direction: column;
  width: 60px;
  position: fixed;
  top: 38%;
  left: 1rem;
  z-index: 10;
}

.social-media i {
  font-size: 3rem;
  padding: 0.2rem;
}

.social-media-btn {
  width: 60px;
  background-color: var(--black);
  border-radius: 50%;
  padding: 0;
  border: black solid;
  margin: 0.5rem 0rem;
  transition: 0.3s all;
}

.social-media-btn:hover {
  box-shadow: 0px 0px 15px var(--my-green-dark);
  margin: 0.5rem 0.5rem;
}

/* ---------------------------------- hero---------------------------------- */
.home {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0rem;
  position: relative;
}

.home-texts {
  margin-top: 8rem;
}

.home-texts h1 {
  font-family: "rancho", sans-serif;
  font-size: 4rem;
}

.home-texts span {
  color: var(--my-green);
  font-size: 6rem;
}

.home-texts p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.btn-group {
  margin: 1rem 0rem;
}

.contact-me-btn {
  background-color: var(--gray-light);
  color: var(--white);
  margin-left: 1rem;
}

.my-pic {
  width: 400px;
  filter: grayscale(1);
  transition: 0.5s all;
}

.my-pic:hover {
  filter: grayscale(0);
  transform: scale(1.15);
  filter: drop-shadow(0px 0px 20px var(--gray-light));
}

/* -------------------------------- skills -------------------------------- */
.skills{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.skills-icons{
  width: 500px;
  height: 500px;
  position: relative;
  animation: skills-circle 15s infinite linear ;
}
.skills-icons:hover{
  animation-play-state: paused;
}

.stop-animation{
  animation: logos-circle 15s infinite linear ;
  
  position: absolute;
  top: 50%;
  left: 41%;
  
}
.stop-animation:hover{
  animation-play-state: paused;
}
.logo-container{
  background-color: rgba(187, 227, 227, 0.141);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 50px;
  height: 50px;
  
  
}
.cirlce-line{
  position: absolute;
  width: 440px;
  height: 440px;
  top: 6%;
  right: 6%;
  border: 2px outset var(--white);
  border-radius: 50%;
  z-index: -1;
}
.html{
  position: absolute;
  top: 0;
  right: 45%;
  animation: logos-circle 15s infinite linear ;
  
}
.css{
  position: absolute;
  bottom: 0;
  right: 45%;
  animation: logos-circle 15s infinite linear ;
}
.react{
  position: absolute;
  top: 45%;
  right: 0px;
  animation: logos-circle 15s infinite linear ;
}
.js{
  position: absolute;
  top: 45%;
  left: 0;
  animation: logos-circle 15s infinite linear ;
}
.redux{
  position: absolute;
  top: 14%;
  left: 10%;
  animation: logos-circle 15s infinite linear ;
}
.git{
  position: absolute;
  top: 14%;
  right: 10%;
  animation: logos-circle 15s infinite linear ;
}
.tailwind{
  position: absolute;
  bottom: 14%;
  right: 12%;
  animation: logos-circle 15s infinite linear ;
}
.nextjs{
  position: absolute;
  bottom: 14%;
  left: 12%;
  animation: logos-circle 15s infinite linear ;
}
.html:hover , .css:hover , .js:hover , .git:hover , .tailwind:hover , .react:hover , .redux:hover , .nextjs:hover {
  box-shadow: var(--gray-light) 0px 0px 20px;
  animation-play-state: paused;
  
}


@keyframes skills-circle{
  from{
    transform: rotate(0deg) scale(0.7);
  }
  50%{
    transform: rotate(180deg) scale(1);
  }
  to{
    transform: rotate(360deg) scale(0.7);
  }
  

}
@keyframes logos-circle{
  from{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-180deg);
  }
  to{
    transform: rotate(-360deg);
  }

}
.skills-info{
  width: 500px;
  padding: 1rem;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: inset 0px -15px 12px -10px var(--black-low);
  
}
.skills-info::-webkit-scrollbar{
  width: 0;
}
.skills-info p{
  margin-bottom: 2rem;
  font-weight: 200;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}
.skills-info p:hover{
  background-color: var(--black-low);
  padding: 0.5rem 1rem;
  backdrop-filter: blur(20px);
}

/* ------------------------------ main project ------------------------------ */
.main-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem;
  
}

.main-project {
  width: 70%;
  margin: auto;
  position: relative;
  height: 800px;

}

.main-project-image {
  width: 900px;
  right: 18%;
  bottom: 200px;
  position: absolute;
  transform:rotateX(25deg) rotateY(-21deg) rotateZ(10deg);
  animation: image-rotate 4s 3  ;
  transition: 0.6s all;
}
.main-project-image:hover{
  transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: scale(1.1);
  
}
.main-project-image:hover~.iphone{
  right: -10%;
}
.iphone {
  right: 15%;
  bottom: 200px;
  width: 220px;
  position: absolute;
  transition: 0.5s all;
}

.iphone:hover {
  transform: scale(1.5);
  filter: drop-shadow(0px 0px 20px var(--gray-light));
  
}
@keyframes image-rotate {
  from {
    transform: rotateX(6deg) rotateY(38deg) rotateZ(-21deg) ;
    
  }
  50%{
    transform:rotateX(25deg) rotateY(-21deg) rotateZ(10deg);
  }
  to{
    transform: rotateX(6deg) rotateY(38deg) rotateZ(-21deg) ;
  }
}


/* -------------------------------- about me -------------------------------- */

.about-me-container {
  width: 50%;
  margin: 2rem auto;
  background-color: var(--gray-darker);
  border-left: solid 3px var(--my-green);
}

.time-lines {
  padding: 1rem;
  margin: 0rem 2rem;
  position: relative;
  border-bottom: dotted 1px var(--white);
}

.time-lines:last-child {
  border-bottom: none;
}

.about-me-texts {
  transition: 0.4s all ease-in-out;
  padding: 1rem;
}

.about-me-texts h1 {
  font-family: "rancho";
  font-size: 2.5rem;
}

.journey-h1 {
  color: rgb(60, 224, 0);
}

.about-me-texts p {
  line-height: 1.7rem;
  font-weight: 300;
}

.about-me-texts span {
  font-weight: 400;
}

.about-me-texts:hover {
  transform: scale(1.3);
  background-color: var(--black-low);
  border-radius: 10px;
  backdrop-filter:blur(10px);
}

.year {
  position: absolute;
  left: -7rem;
  top: 40%;
  transform: scale(1.5);
  color: var(--gray-light);
}

.year:hover {
  text-shadow: 0px 0px 20px var(--my-green);
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--my-green);
  position: absolute;
  left: -44px;
  top: 40%;
}

.bxs-hot {
  color: rgb(255, 98, 0);
}

.bxs-error {
  color: yellow;
}

.bxl-youtube {
  color: rgb(255, 0, 0);
}

.bxl-c-plus-plus {
  color: #005eff;
}

.bxl-python {
  color: #ffee00;
}

/* --------------------------------- footer --------------------------------- */
.footer {
  width: 100%;
  min-height: 200px;
  bottom: 0;
  background-color: var(--black);
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-title {
  font-family: "rancho", sans-serif;
  color: var(--my-green);
  font-size: 3rem;
}

.contact-info p {
  font-weight: 300;
  margin: 0.8rem 0rem;
}

.contact-info a:hover {
  color: var(--my-green-dark);
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-projects {
  border-bottom: 1px solid var(--white);
  padding: 1rem 0rem;
  margin-bottom: 1rem;
}

.footer-projects a:hover {
  color: var(--my-green-dark);
}

.footer-skills p,
.footer-projects p {
  font-weight: 100;
}

.copyright {
  font-weight: 100;
  text-align: center;
}
/* -------------------------------- scrollbar ------------------------------- */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #31B71E #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 11px;
  width: 11px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--my-green);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--my-green-dark);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--my-green-dark);
}
