/* :root {
  --white:rgb(255, 255, 255);
  --black:rgb(0, 0, 0);
  --gray:rgb(40, 44, 49);
  --gray-light:#626367;
  --gray-dark:#1a1d26;
  --gray-darker:#0c0f18;
  --my-green:#a2ff00;
  --my-green-dark:#3fd300;

} */

/* --------------------------------- tablet --------------------------------- */
@media screen and (max-width: 1200px) {
  .navbar ul {
    gap: 1rem;
  }
  

  /* home */
  .home {
    flex-direction: column;
    margin: 0rem;
    justify-content: center;
    align-items: center;
  }

  .home-texts {
    margin-top: 2rem;
  }

  .home-texts h1 {
    font-size: 2rem;
  }

  .my-pic {
    width: 250px;
  }

  .my-pic:hover {
    width: 280px;
    margin-top: -1rem;
  }


  /* --------------------------------- skills -------------------------------- */
  .skills {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0c0f18; */
  }

  /* ------------------------------ main-project ----------------------------- */
  .main-project {
    width: 80%; 
    flex-direction: column;
    justify-content: space-around;
  }
  .main-project-image {
    width: 700px;
    transform:rotateX(25deg) rotateY(-21deg) rotateZ(10deg);
    animation: image-rotate 4s 2  ;
    transition: 0.6s all;
    
  }

  /* --------------------------------- footer --------------------------------- */
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .footer-title {
    position: absolute;
    top: 0;
  }

  .contact-info {
    margin-top: 4rem;
  }
}

/* ---------------------------------- phone --------------------------------- */

@media screen and (max-width: 600px) {
  .bx-menu{
    display: block;
    
  }
  .home {
    flex-direction: column;
    margin: 0rem 2rem;
    justify-content: center;
    align-items: center;
  }
  .home-texts h1 {
    font-size: 2.5rem;
  }


  .navbar ul {
    gap: 0.1rem;
  }

  .navbar ul li {
    list-style: none;
    padding: 0.8rem 0.3rem;
    margin: 0.2rem 0.1rem;
    transition: 0.2s all;
  }

  .navbar a {
    font-size: 0.75rem;
  }

  .nav-skills {
    display: none;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: sticky;
    top: 3rem;
    left: 24%;
    z-index: 10;
  }

  .social-media-btn:hover {
    margin: 0.5rem 0rem;
    transform: scale(1.2);
  }

  .projects-header {
    font-size: 3rem;
  }

  /* ------------------------------ image-project ----------------------------- */
  .main-project-image {
    width: 300px;
  }
  .iphone {
    width: 100px;
    transition: 0.5s all;
  }
/* --------------------------------- skills -------------------------------- */
@keyframes skills-circle{
  from{
    transform: rotate(0deg) scale(0.5);
  }
  to{
    transform: rotate(360deg) scale(0.5);
  }
  

}
.skills-icons{
  transform: scale(0.5);
  
}
.skills-info{
  width: 300px;
  /* background-color: #626367; */
  padding: 0rem;
}


/* -------------------------------- about me -------------------------------- */
.about-me-container{
  width: 90%;
}
  .about-me-header {
    font-size: 4rem;
  }

  .time-lines {
    padding: 0rem;
    margin: 0rem 2rem;

  }

  .time-lines:last-child {
    border-bottom: none;
  }

  .about-me-texts {
    margin-left: 1rem;
    padding-right: 0;
  }

  .about-me-texts h1 {
    font-family: "rancho";
    font-size: 2.5rem;
  }

  .year {
    left: -1.5rem;
    transform: scale(1.2)rotate(-90deg);
  }


  .footer-title {
    font-size: 2.5rem;
  }
}